@font-face {
    font-family: 'XeroFont';
    src: url('./../../fonts/savedByZero.otf')}
  
.aboutDiv{ 
 background-color:  #007A00;
 color: black;
 height: 100vh !important;
 max-width: 100vw !important;
 padding-top: 100px;
 font-family: 'XeroFont';
 }

.heading{
    font-size: 3rem;
    font-weight:1000;
    font-family: 'MyFont';
 }
 .paragraphAbout{
    margin: auto;
    width: 80vw;
    font-family: 'XeroFont';
    font-size: 1.5rem;
 }

 .linksHeading{
    font-size: 3rem;
    margin-top: 2.5rem;
    width: 70vw;
    margin: auto;
}

.links{
    color: var(--bs-cyan);
    font-size: 2rem;
    margin-top: 1rem;
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width : 576px) {
    .heading{
        font-size: 2rem;
    }
    .paragraphAbout{
        width: 98vw;
        margin: 5px ;
        text-justify:distribute;
        font-size: 1rem;
     }   
     .linksHeading{
        font-size: 1.8rem;
     }
     .links{
        font-size: 1rem;
     }
}